<div class="login-container" *ngIf="!isAuthenticated">
  <div class="login-box">
    <!-- LOGO DE LA EMPRESA -->
    
    <h2>Inicio de Sesión</h2>
    <div class="logo-container">
      <img src="/logo.jpg">
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="username">Nombre Usuario</label>
        <input id="username" type="text" formControlName="username" placeholder="Ingresa tu nombre de usuario" pInputText>
        <small class="error-message" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
          El nombre de usuario es obligatorio.
        </small>
      </div>

      <div class="input-group">
        <label for="password">Contraseña</label>
        <input id="password" type="password" formControlName="password" placeholder="••••••">
      </div>

      <button pButton label="Iniciar Sesión" icon="pi pi-sign-in" type="submit" [disabled]="loginForm.invalid"></button>

      <a (click)="showDialog()">Registrarse</a>
    </form>
    <p *ngIf="loginError" class="error-message">{{ errorMessage }}</p>
  </div>
</div>

<!-- MODAL DE REGISTRO -->
<p-dialog
  header="Registro"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem', height: '26rem' }"
  [dismissableMask]="true"
>
  <form [formGroup]="registerForm">
    <div class="input-group">
      <label for="username">Nombre Usuario</label>
      <input id="username" type="text" formControlName="username" placeholder="Ingresa tu nombre de usuario" pInputText>
    </div>

    <div class="input-group">
      <label for="password">Contraseña</label>
      <input id="password" type="password" formControlName="password" placeholder="••••••">
    </div>

    <div class="input-group">
      <label for="correo">Correo</label>
      <input id="correo" type="text" formControlName="correo" placeholder="Ingresa tu correo" pInputText>
    </div>

    <button pButton label="Registrarse" (click)="registerUser()"></button>
  </form>
</p-dialog>
<p-toast></p-toast>
