<h1 class="title">Mantenimiento Crédito</h1>

<form action="" class="form" [formGroup]="group">
  <div class="container_user">
    <div class="container_input">
      <p-inputgroup>
        <p-inputgroup-addon>
          <span class="pi pi-user"></span>
        </p-inputgroup-addon>
        <p-autocomplete
          [style]="{'width': '100%'}"
          [suggestions]="items"
          (completeMethod)="search($event)"
          optionLabel="nombre"
          formControlName="nombre_usuario"
          placeholder="Nombre usuario">
        </p-autocomplete>
      </p-inputgroup>
      <!-- <div class="card flex justify-center">
        <p-autocomplete [(ngModel)]="value" [suggestions]="items" (completeMethod)="search($event)" />
      </div> -->
    </div>
    <p-button label="Buscar" icon="pi pi-search" (onClick)="listaCredito()"/>
    <p-button label="Nuevo Credito" icon="pi pi-plus" (onClick)="showDialog()"/>
    <p-button label="Pagar Credito" icon="pi pi-dollar" (onClick)="showDialog()" *ngIf="usuarioUnico"/>
  </div>
  <p-button label="Excel" icon="pi pi-file-excel"/>
</form>

<div class="card">
  <p-table
      [paginator]="true"
      [rows]="5"
      [value]="creditosTable"
      showGridlines
      [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template #header>
              <tr>
                  <th>Usuario</th>
                  <th>Monto Total</th>
                  <th>Monto Pagado</th>
                  <th>Monto Pendiente</th>
                  <th>Estado</th>
                  <th>Descripcion</th>
                  <th>Fecha Vencimiento</th>
              </tr>
          </ng-template>
          <ng-template #body let-product>
            <tr>
                <td>{{ product.user_name }}</td>
                <td>{{ product.monto_total }}</td>
                <td>{{ product.monto_pagado }}</td>
                <td>{{ product.monto_pendiente }}</td>
                <td>{{ product.descripcion_estado }}</td>
                <td>{{ product.descripcion }}</td>
                <td>{{ product.fecha_vencimiento }}</td>
            </tr>
          </ng-template>
  </p-table>
</div>
<div *ngIf="usuarioUnico" class="deuda-container">
  <p-card class="deuda-card">
    <ng-template pTemplate="title">
      <span class="pi pi-dollar"></span> Deuda Total
    </ng-template>
    <ng-template pTemplate="content">
      <p class="deuda-total">{{ deudaTotal | currency:'USD' }}</p>
    </ng-template>
  </p-card>
</div>



<!-- NUEVO CREDITO  -->
<p-dialog
  header="Nuevo Crédito"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '30rem', height: 'auto' }"
  [contentStyle]="{ 'padding': '1.5rem' }">

  <form [formGroup]="creditoForm" (ngSubmit)="guardarCredito()" class="credito-form">
    <div class="p-fluid">

      <div class="p-field p-grid">
        <label for="usuario" class="p-col-12 p-md-4">Usuario</label>
        <p-inputgroup>
          <p-autocomplete
            [style]="{'width': '200%'}"
            [suggestions]="items"
            (completeMethod)="search($event)"
            optionLabel="nombre"
            formControlName="usuario"
            placeholder="Ingrese usuario"
            >
          </p-autocomplete>
        </p-inputgroup>
      </div>

      <div class="p-field p-grid">
        <label for="monto" class="p-col-12 p-md-4">Monto</label>
        <div class="p-col-12 p-md-8">
          <input id="monto" type="number" pInputText formControlName="monto" placeholder="Ingrese el monto" min="0"/>
        </div>
      </div>

      <div class="p-field p-grid">
        <label for="descripcion" class="p-col-12 p-md-4">Descripción</label>
        <div class="p-col-12 p-md-8">
          <textarea id="descripcion" rows="3" pInputTextarea formControlName="descripcion" placeholder="Ingrese la descripción"></textarea>
        </div>
      </div>

      <div class="p-field p-grid">
        <label for="descripcion" class="p-col-12 p-md-4">Fecha Vencimiento</label>
        <div class="p-col-12 p-md-8">
          <p-datepicker formControlName="fecha_vencimiento" />
        </div>
      </div>
      <div class="container_buttons">
        <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-text p-mr-2" (click)="visible = false"></button>
        <button pButton type="submit" label="Guardar" icon="pi pi-save" class="p-button" [disabled]="creditoForm.invalid" (click)="mantCredito()"></button>
      </div>

    </div>
  </form>
</p-dialog>
<p-toast></p-toast>


